<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Xpath // CSS training grounds</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3 th:text="'Hello, ' + ${name} + '!'" />
<h3>Find me!</h3>
<h3 class="header">And me!</h3>
<h3 class="header">NOW me!</h3>
<h3 class="header yellow">Do not forget about me</h3>
<h3 class="header" thestyle="red">It is simple</h3>
<h3 class='header that will abracadabra all day long i am a kitty-cat dance-dance'>My turn</h3>
<h3 class='header that will abracadabra all day long i am a bow-wow-dog dance-dance'>Where am I...</h3>
<h3 class='header that will all day long i am a kitty-cat dance-dance'>What about me</h3>
<div id="good"><h3>I am hiding</h3></div>
<div id="bad"><h3>U cannot get me!</h3></div>
<div id="ugly"><span><h3>Where is Blondie again?</h3></span></div>
<h3><p id="not_me">Find my daddy please.</p></h3>
<h3><span><p id="iAmLost">Look for my granny!</p></span></h3>
<div>
  <div>
    <h3 id="sister">Sister</h3>
  </div>
  <div>
    <h3>Brother</h3>
  </div>
</div>
<h3 class="two">Please</h3>
<h3 class="three">Find us</h3>
<h3 class="four">At once</h3>
<div id="last">
  <h3>Not me</h3>
  <h3>And Not me</h3>
  <h3>Find me!</h3>
  <h3>And me, please</h3>
</div>
<div id="price">
  <h3 price=4>Find me because my price is not 5</h3>
  <h3 age=5>Find me because my age is bigger than 4</h3>
  <h3 courage=10>Find me because my courage is between 5 and 15</h3>
</div>
<h3>U can find me by text</h3>
<h3>U can find me by the part of the text</h3>
<h3>U can find me by the absence of word t e x t</h3>
<h3 id="pretender">Pretend that I'm constantly changing my tag. And find me</h3>
</body>
</html>